<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.gocamping.mapper.memberMapper">
  	<resultMap type="org.gocamping.domain.memberVO" id="memberMap">
  		<id property="email" column="email"/>
  		<result property="email" column="email"/>
  		<result property="emailCheck" column="email_check"/>
  		<result property="password" column="password"/>
  		<result property="name" column="name"/>
  		<result property="phoneNumber" column="phone_number"/>
  		<result property="gender" column="gender"/>
  		<result property="createDate" column="create_date"/>
  		<collection property="authList" resultMap="authMap"></collection>
  	</resultMap>
  	
  	<resultMap type="org.gocamping.domain.authVO" id="authMap">
  		<result property="email" column="email"/>
  		<result property="auth" column="auth"/>
  	</resultMap>
  	
  	<select id="read" resultMap="memberMap">
  		SELECT
  			mem.email, email_check, password, name, phone_number, gender, create_date, auth
  		FROM
  			member_tbl mem LEFT OUTER JOIN member_auth_tbl auth on mem.email = auth.email 
  		WHERE mem.email = #{email}  		
  	</select>
  	
  	 <insert id="insert">
 		insert into member_tbl(email, password, name, phone_number) 
 		values(#{email}, #{password}, #{name}, #{phoneNumber})
 	</insert>
  	
  	<insert id="insertAuth">
  		insert into member_auth_tbl(email, auth)
  		values(#{email}, 'ROLE_USER')
  	</insert>
  	
  	
  	
  </mapper>