<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gocamping.mapper.resMapper">
	<insert id="register">
		insert into res_tbl (rno, cno, email, rname, phone_number, resdate, regdate)
		values (seq_res.nextval, #{cno}, #{email}, #{rname}, #{phoneNumber}, #{resDate}, sysdate)
	</insert>
	
<!-- 	<select id="get" resultType="org.gocamping.domain.resVO">
		select * from res_tbl where rno = #{rno}
	</select>
	
	<select id="getListWithEmail" resultType="org.gocamping.domain.resVO">
		select * from res_tbl where email = #{email}
	</select>
 -->
</mapper>